
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/SharedViewPages/Administrator/MasterView.cshtml";
}
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
				<span class="m-subheader__daterange-label">
					<a href="@Url.Action("Index","AdministratorWorkplace")">
						<h3 class="m-subheader__title" style="padding-left: 0 !important; margin: 0 0 0 2px !important;">
							پیشخوان
							@*<i class="fa fa-chevron-left tshfontsize2" style="transform: translateY(3px);color: #aaaeb8;margin-right: 2px;"></i>
								<span class="m-subheader__daterange-title tshfontsize2" style="margin-right: 2px;margin-left: 2px;">پروفایل</span>*@
							<!--
							<i class="fa fa-chevron-left" style="transform: translateY(3px);color: #aaaeb8;"></i>
							<span class="m-subheader__daterange-title" style="margin-right: 2px;">نمایش همه ی پست ها</span>
							-->
						</h3>
					</a>
				</span>
			</span>
		</div>
	</div>
</div>

<div class="m-content">



	<!--Begin::Section-->
	<div class="m-portlet">
		<div class="m-portlet__body  m-portlet__body--no-padding">
			<div class="row m-row--no-padding m-row--col-separator-xl">
				<div class="col-xl-4">
					<!--begin:: Widgets/Stats2-1 -->
					<div class="m-widget1">
						<a href="" class="tshtextdecnone">
							<div class="m-widget1__item">
								<div class="row m-row--no-padding align-items-center">
									<div class="col">
										<h3 class="m-widget1__title">
											<i class="m-menu__link-icon tshicon flaticon-graphic-2"></i>
											بازدید امروز
										</h3>
										<!--<span class="m-widget1__desc">میانگین درآمد هفتگی</span>-->
									</div>
									<div class="col m--align-right">
										<span class="m-widget1__number m--font-brand">190</span>
									</div>
								</div>
							</div>
						</a>
						<a href="" class="tshtextdecnone">
							<div class="m-widget1__item">
								<div class="row m-row--no-padding align-items-center">
									<div class="col">
										<h3 class="m-widget1__title">
											<i class="m-menu__link-icon tshicon flaticon-users"></i>
											ثبت نام امروز
										</h3>
										<!--<span class="m-widget1__desc">کاربرانی که امروز ثبت نام کرده اند</span>-->
									</div>
									<div class="col m--align-right">
										<span class="m-widget1__number m--font-success">19</span>
									</div>
								</div>
							</div>
						</a>
						<a href="" class="tshtextdecnone">
							<div class="m-widget1__item">
								<div class="row m-row--no-padding align-items-center">
									<div class="col">
										<h3 class="m-widget1__title">
											<i class="m-menu__link-icon tshicon flaticon-shopping-basket"></i>
											سفارشات امروز
										</h3>
										<!--<span class="m-widget1__desc">سفارشات هفتگی مشتری</span>-->
									</div>
									<div class="col m--align-right">
										<span class="m-widget1__number m--font-danger">8</span>
									</div>
								</div>
							</div>
						</a>
						<a href="" class="tshtextdecnone">
							<div class="m-widget1__item">
								<div class="row m-row--no-padding align-items-center">
									<div class="col">
										<h3 class="m-widget1__title">
											<i class="m-menu__link-icon tshicon flaticon-truck"></i>
											ارسال های امروز
										</h3>
										<!--<span class="m-widget1__desc">کاربرانی که امروز ثبت نام کرده اند</span>-->
									</div>
									<div class="col m--align-right">
										<span class="m-widget1__number m--font-warning">6</span>
									</div>
								</div>
							</div>
						</a>
						<a href="" class="tshtextdecnone">
							<div class="m-widget1__item">
								<div class="row m-row--no-padding align-items-center">
									<div class="col">
										<h3 class="m-widget1__title">
											<i class="m-menu__link-icon tshicon flaticon-box-1"></i>
											تحویل های امروز
										</h3>
										<!--<span class="m-widget1__desc">کاربرانی که امروز ثبت نام کرده اند</span>-->
									</div>
									<div class="col m--align-right">
										<span class="m-widget1__number m--font-info">6</span>
									</div>
								</div>
							</div>
						</a>
					</div>
					<!--end:: Widgets/Stats2-1 -->
				</div>
				<div class="col-xl-4">
					<!--begin:: Widgets/Daily Sales-->
					<div class="m-widget14">
						<div class="m-widget14__header m--margin-bottom-30">
							<h3 class="m-widget14__title">
								آمار بازدید 30 روز اخیر
								<span class="tshfontsize" style="float: left">بازدید کل : 99999</span>
							</h3>
							<span class="m-widget14__desc">
								برای جزئیات بیشتر ، موس را روی هر ستون ببرید
							</span>
						</div>
						<div class="m-widget14__chart">
							<canvas style="height: 100%;" id="m_chart_daily_sales"></canvas>
						</div>
					</div>
					<!--end:: Widgets/Daily Sales-->
				</div>
				<div class="col-xl-4">
					<!--begin:: Widgets/Profit Share-->
					<div class="m-widget14">
						<div class="m-widget14__header">
							<h3 class="m-widget14__title">
								محصولات در حال اتمام
							</h3>
							<!--<span class="m-widget14__desc">
								سود اشتراکی بین مشتریان
							</span>-->
						</div>
						<div class="tab-content">
							<div class="tab-pane active" id="topbar_notifications_notifications" role="tabpanel">
								<div class="m-scrollable" data-scrollable="true" data-height="250" data-mobile-height="200">
									<div class="m-list-timeline m-list-timeline--skin-light">
										<div class="m-list-timeline__items tshbeforenone">
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge tshop0"></span>
												<span class="m-list-timeline__text">نام و مشخصات</span>
												<span class="m-list-timeline__time">تعداد باقی مانده</span>
											</div>
											<a href="" class="m-list-timeline__item tshtextdecnone-2">
												<span class="m-list-timeline__badge"></span>
												<span class="m-list-timeline__text">کفش  نام یا متن ساختگی<span class="m-badge m-badge--warning tshcolorwhite m-badge--wide tshbadge">22</span><span class="m-badge m-badge--danger m-badge--wide tshbadge">قرمز</span></span>
												<span class="m-list-timeline__time">3 عدد</span>
											</a>
											<a href="" class="m-list-timeline__item tshtextdecnone-2">
												<span class="m-list-timeline__badge"></span>
												<span class="m-list-timeline__text">کفش  نام یا متن ساختگی<span class="m-badge m-badge--warning tshcolorwhite m-badge--wide tshbadge">22</span><span class="m-badge m-badge--danger m-badge--wide tshbadge">قرمز</span></span>
												<span class="m-list-timeline__time">3 عدد</span>
											</a>
											<a href="" class="m-list-timeline__item tshtextdecnone-2">
												<span class="m-list-timeline__badge"></span>
												<span class="m-list-timeline__text">کفش  نام یا متن ساختگی<span class="m-badge m-badge--warning tshcolorwhite m-badge--wide tshbadge">22</span><span class="m-badge m-badge--danger m-badge--wide tshbadge">قرمز</span></span>
												<span class="m-list-timeline__time">3 عدد</span>
											</a>
											<a href="" class="m-list-timeline__item tshtextdecnone-2">
												<span class="m-list-timeline__badge"></span>
												<span class="m-list-timeline__text">کفش  نام یا متن ساختگی<span class="m-badge m-badge--warning tshcolorwhite m-badge--wide tshbadge">22</span><span class="m-badge m-badge--danger m-badge--wide tshbadge">قرمز</span></span>
												<span class="m-list-timeline__time">3 عدد</span>
											</a>
											<a href="" class="m-list-timeline__item tshtextdecnone-2">
												<span class="m-list-timeline__badge"></span>
												<span class="m-list-timeline__text">کفش  نام یا متن ساختگی<span class="m-badge m-badge--warning tshcolorwhite m-badge--wide tshbadge">22</span><span class="m-badge m-badge--danger m-badge--wide tshbadge">قرمز</span></span>
												<span class="m-list-timeline__time">3 عدد</span>
											</a>
											<a href="" class="m-list-timeline__item tshtextdecnone-2">
												<span class="m-list-timeline__badge"></span>
												<span class="m-list-timeline__text">کفش  نام یا متن ساختگی<span class="m-badge m-badge--warning tshcolorwhite m-badge--wide tshbadge">22</span><span class="m-badge m-badge--danger m-badge--wide tshbadge">قرمز</span></span>
												<span class="m-list-timeline__time">3 عدد</span>
											</a>
											<a href="" class="m-list-timeline__item tshtextdecnone-2">
												<span class="m-list-timeline__badge"></span>
												<span class="m-list-timeline__text">کفش  نام یا متن ساختگی<span class="m-badge m-badge--warning tshcolorwhite m-badge--wide tshbadge">22</span><span class="m-badge m-badge--danger m-badge--wide tshbadge">قرمز</span></span>
												<span class="m-list-timeline__time">3 عدد</span>
											</a>
											<a href="" class="m-list-timeline__item tshtextdecnone-2">
												<span class="m-list-timeline__badge"></span>
												<span class="m-list-timeline__text">کفش  نام یا متن ساختگی<span class="m-badge m-badge--warning tshcolorwhite m-badge--wide tshbadge">22</span><span class="m-badge m-badge--danger m-badge--wide tshbadge">قرمز</span></span>
												<span class="m-list-timeline__time">3 عدد</span>
											</a>
											<a href="" class="m-list-timeline__item tshtextdecnone-2">
												<span class="m-list-timeline__badge"></span>
												<span class="m-list-timeline__text">کفش  نام یا متن ساختگی<span class="m-badge m-badge--warning tshcolorwhite m-badge--wide tshbadge">22</span><span class="m-badge m-badge--danger m-badge--wide tshbadge">قرمز</span></span>
												<span class="m-list-timeline__time">3 عدد</span>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="topbar_notifications_events" role="tabpanel">
								<div class="m-scrollable" data-scrollable="true" data-height="250" data-mobile-height="200">
									<div class="m-list-timeline m-list-timeline--skin-light">
										<div class="m-list-timeline__items">
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--state1-success"></span>
												<a href="dashboard.html" class="m-list-timeline__text">سفارش جدید</a>
												<span class="m-list-timeline__time">هم اکنون</span>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--state1-danger"></span>
												<a href="dashboard.html" class="m-list-timeline__text">فاکتور جدید</a>
												<span class="m-list-timeline__time">20 دقیقه</span>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--state1-success"></span>
												<a href="dashboard.html" class="m-list-timeline__text">بالا بودن سرور</a>
												<span class="m-list-timeline__time">5 ساعت</span>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--state1-info"></span>
												<a href="dashboard.html" class="m-list-timeline__text">سفارش جدید</a>
												<span class="m-list-timeline__time">7 ساعت</span>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--state1-info"></span>
												<a href="dashboard.html" class="m-list-timeline__text">خاموش بودن سیستم</a>
												<span class="m-list-timeline__time">11 دقیقه</span>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--state1-info"></span>
												<a href="dashboard.html" class="m-list-timeline__text">یر فعال بودن سرور</a>
												<span class="m-list-timeline__time">3 ساعت</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="topbar_notifications_logs" role="tabpanel">
								<div class="m-stack m-stack--ver m-stack--general" style="min-height: 180px;">
									<div class="m-stack__item m-stack__item--center m-stack__item--middle">
										<span class="">بدون لاگ جدید</span>
									</div>
								</div>
							</div>
						</div>
						<!--<div class="row  align-items-center">
							<div class="col">
								<div id="m_chart_profit_share" class="m-widget14__chart" style="height: 160px">
									<div class="m-widget14__stat">45</div>
								</div>
							</div>
							<div class="col">
								<div class="m-widget14__legends">
									<div class="m-widget14__legend">
										<span class="m-widget14__legend-bullet m&#45;&#45;bg-accent"></span>
										<span class="m-widget14__legend-text">
											37% بلیط های ورزشی
										</span>
									</div>
									<div class="m-widget14__legend">
										<span class="m-widget14__legend-bullet m&#45;&#45;bg-warning"></span>
										<span class="m-widget14__legend-text">47% رویدادهای تجاری</span>
									</div>
									<div class="m-widget14__legend">
										<span class="m-widget14__legend-bullet m&#45;&#45;bg-brand"></span>
										<span class="m-widget14__legend-text">19% سایر</span>
									</div>
								</div>
							</div>
						</div>-->
					</div>
					<!--end:: Widgets/Profit Share-->
				</div>
			</div>
		</div>
	</div>
	<!--End::Section-->
	<!--Begin::Section-->
	<div class="row">
		<div class="col-xl-6">
			<!--begin:: Widgets/Activity-->
			<div class="m-portlet m-portlet--bordered-semi m-portlet--widget-fit m-portlet--full-height m-portlet--skin-light  m-portlet--rounded-force">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text m--font-light">
								میزان فروش
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<div class="m-widget17">
						<div class="m-widget17__visual m-widget17__visual--chart m-portlet-fit--top m-portlet-fit--sides m--bg-danger">
							<div class="m-widget17__chart" style="height:320px;padding: 15% 0 5% 0;">
								<canvas id="m_chart_activities-week"></canvas>
								<canvas id="m_chart_activities-month" style="display: none;"></canvas>
								<canvas id="m_chart_activities-year" style="display: none;"></canvas>
							</div>
						</div>
						<div class="m-widget17__stats">
							<div class="m-widget17__items m-widget17__items-col1">
								<div class="m-widget17__item tshic">
									<span class="m-widget17__icon tshwidgeticon">
										<i class="flaticon-coins m--font-brand"></i>
									</span>
									<span class="m-widget17__subtitle tshwidgettext">
										فروش امروز
									</span>
									<span class="m-widget17__desc tshaftertoman tshwidgettext">
										5,000,000
									</span>
								</div>
								<div class="m-widget17__item tshic" onclick="loadChart($(this),'#m_chart_activities-month');">
									<span class="m-widget17__icon tshwidgeticon">
										<i class="flaticon-coins m--font-success"></i>
									</span>
									<span class="m-widget17__subtitle tshwidgettext">
										فروش ماه
									</span>
									<span class="m-widget17__desc tshaftertoman tshwidgettext">
										450,000,000
									</span>
								</div>
							</div>
							<div class="m-widget17__items m-widget17__items-col2">
								<div class="m-widget17__item tshic tshic-active" onclick="loadChart($(this),'#m_chart_activities-week');">
									<span class="m-widget17__icon tshwidgeticon">
										<i class="flaticon-coins m--font-info"></i>
									</span>
									<span class="m-widget17__subtitle tshwidgettext">
										فروش هفته
									</span>
									<span class="m-widget17__desc tshaftertoman tshwidgettext">
										90,000,000
									</span>
								</div>
								<div class="m-widget17__item tshic" onclick="loadChart($(this),'#m_chart_activities-year');">
									<span class="m-widget17__icon tshwidgeticon">
										<i class="flaticon-coins m--font-danger"></i>
									</span>
									<span class="m-widget17__subtitle tshwidgettext">
										فروش سال
									</span>
									<span class="m-widget17__desc tshaftertoman tshwidgettext">
										1,200,000,000
									</span>
								</div>
							</div>
						</div>
						<div class="tshtextcenter mt-5">
							<button class="btn btn-brand tshaftertoman tshaftermarginright">فروش کل : 15,000,000,000</button>
						</div>
					</div>
				</div>
			</div>
			<!--end:: Widgets/Activity-->
		</div>
		<div class="col-xl-6">
			<!--begin:: Widgets/Blog-->
			<div class="m-portlet m--bg-warning m-portlet--bordered-semi m-portlet--full-height ">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text m--font-light">
								خرید های اخیر
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Widget 29-->
					<div class="m-widget29">
						<div class="tab-content">
							<div class="tab-pane active" role="tabpanel">
								<div class="m-scrollable" data-scrollable="true" data-height="570" data-mobile-height="330">
									<div class="m-list-timeline m-list-timeline--skin-light">
										<div class="m-list-timeline__items tshbeforenone">
											<a href="" class="tshtextdecnone-2">
												<div class="m-widget_content tshhoverfac">
													<h3 class="m-widget_content-title">فاکتور شماره : 139906191001</h3>
													<div class="m-widget_content-items">
														<div class="m-widget_content-item">
															<span class="tshtextcenter p-0">تاریخ پرداخت</span>
															<span class="m--font-brand tshfontsize tshtextcenter">1399/06/19 23:42</span>
														</div>
														<div class="m-widget_content-item">
															<span class="tshtextcenter p-0">پرداخت</span>
															<span class="m--font-success tshfontsize tshtextcenter">موفق</span>
														</div>
														<div class="m-widget_content-item">
															<span class="tshtextcenter p-0">کد پیگیری</span>
															<span class="tshfontsize tshtextcenter">12313123123</span>
														</div>
													</div>
												</div>
											</a>
											<a href="" class="tshtextdecnone-2">
												<div class="m-widget_content tshhoverfac">
													<h3 class="m-widget_content-title">فاکتور شماره : 139906191001</h3>
													<div class="m-widget_content-items">
														<div class="m-widget_content-item">
															<span class="tshtextcenter p-0">تاریخ پرداخت</span>
															<span class="m--font-brand tshfontsize tshtextcenter">1399/06/19 23:42</span>
														</div>
														<div class="m-widget_content-item">
															<span class="tshtextcenter p-0">پرداخت</span>
															<span class="m--font-success tshfontsize tshtextcenter">موفق</span>
														</div>
														<div class="m-widget_content-item">
															<span class="tshtextcenter p-0">کد پیگیری</span>
															<span class="tshfontsize tshtextcenter">12313123123</span>
														</div>
													</div>
												</div>
											</a>
											<a href="" class="tshtextdecnone-2">
												<div class="m-widget_content tshhoverfac">
													<h3 class="m-widget_content-title">فاکتور شماره : 139906191001</h3>
													<div class="m-widget_content-items">
														<div class="m-widget_content-item">
															<span class="tshtextcenter p-0">تاریخ پرداخت</span>
															<span class="m--font-brand tshfontsize tshtextcenter">1399/06/19 23:42</span>
														</div>
														<div class="m-widget_content-item">
															<span class="tshtextcenter p-0">پرداخت</span>
															<span class="m--font-success tshfontsize tshtextcenter">موفق</span>
														</div>
														<div class="m-widget_content-item">
															<span class="tshtextcenter p-0">کد پیگیری</span>
															<span class="tshfontsize tshtextcenter">12313123123</span>
														</div>
													</div>
												</div>
											</a>
											<a href="" class="tshtextdecnone-2">
												<div class="m-widget_content tshhoverfac">
													<h3 class="m-widget_content-title">فاکتور شماره : 139906191001</h3>
													<div class="m-widget_content-items">
														<div class="m-widget_content-item">
															<span class="tshtextcenter p-0">تاریخ پرداخت</span>
															<span class="m--font-brand tshfontsize tshtextcenter">1399/06/19 23:42</span>
														</div>
														<div class="m-widget_content-item">
															<span class="tshtextcenter p-0">پرداخت</span>
															<span class="m--font-success tshfontsize tshtextcenter">موفق</span>
														</div>
														<div class="m-widget_content-item">
															<span class="tshtextcenter p-0">کد پیگیری</span>
															<span class="tshfontsize tshtextcenter">12313123123</span>
														</div>
													</div>
												</div>
											</a>
											<a href="" class="tshtextdecnone-2">
												<div class="m-widget_content tshhoverfac">
													<h3 class="m-widget_content-title">فاکتور شماره : 139906191001</h3>
													<div class="m-widget_content-items">
														<div class="m-widget_content-item">
															<span class="tshtextcenter p-0">تاریخ پرداخت</span>
															<span class="m--font-brand tshfontsize tshtextcenter">1399/06/19 23:42</span>
														</div>
														<div class="m-widget_content-item">
															<span class="tshtextcenter p-0">پرداخت</span>
															<span class="m--font-success tshfontsize tshtextcenter">موفق</span>
														</div>
														<div class="m-widget_content-item">
															<span class="tshtextcenter p-0">کد پیگیری</span>
															<span class="tshfontsize tshtextcenter">12313123123</span>
														</div>
													</div>
												</div>
											</a>
											<a href="" class="tshtextdecnone-2">
												<div class="m-widget_content tshhoverfac">
													<h3 class="m-widget_content-title">فاکتور شماره : 139906191001</h3>
													<div class="m-widget_content-items">
														<div class="m-widget_content-item">
															<span class="tshtextcenter p-0">تاریخ پرداخت</span>
															<span class="m--font-brand tshfontsize tshtextcenter">1399/06/19 23:42</span>
														</div>
														<div class="m-widget_content-item">
															<span class="tshtextcenter p-0">پرداخت</span>
															<span class="m--font-success tshfontsize tshtextcenter">موفق</span>
														</div>
														<div class="m-widget_content-item">
															<span class="tshtextcenter p-0">کد پیگیری</span>
															<span class="tshfontsize tshtextcenter">12313123123</span>
														</div>
													</div>
												</div>
											</a>
											<div class="tshtextcenter mt-3">
												<button class="btn btn-success">نمایش بیشتر</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--end::Widget 29-->
				</div>
			</div>					<!--end:: Widgets/Blog-->
		</div>
	</div>

	<!--End::Section-->
</div>


@section Scripts{

	@Scripts.Render("~/bundles/Dashboard.js")



}

