
@{
    Layout = null;
}

<div class="modal fade p-0" id="uploader" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered tshuploader-dialog" role="document">
        <div class="modal-content tshuploader-content">
            <div class="modal-header">
                <h5 class="modal-title col-12">
                    <ul class="uploader-header col-12">
                        <li class="row">
                        <li class="col-6">
                            <span class="active-upload upload-btn">
                                <i class="fa fa-upload"></i>
                                آپلود
                            </span>
                        </li>
                        <li class="col-6">
                            <span class="gal-btn">
                                <i class="fa fa-images"></i>
                                گالری
                            </span>
                        </li>
                        </li>
                    </ul>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close" style="position: absolute;left: 15px;top: 25px;">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <input id="DataSelectedFromGallery" style="display:none" />
            <div class="modal-body" style="overflow-y: auto;overflow-x: hidden;">
                @{Html.RenderAction("Uploader_Image");}

                @{Html.RenderAction("Gallery");}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">انصراف</button>
                <button type="button" class="btn btn-success select-uploader UploadEndsForWork" style="display: none">انتخاب</button>
            </div>
        </div>
    </div>
</div>


