
@{
    ViewBag.Title = "ارتباط با ما";
    Layout = "~/Views/SharedViewPages/CustomerSide/CustomerMaster.cshtml";
}

<!--====================================================================
Start Section Breadcrumb
====================================================================-->
<div class="modal fade" id="modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="border: none!important;">
            <div class="modal-header" style="background-color: #28a745;width: 100%;">
                <h5 class="modal-title" id="modal-title" style="float: right;color:#fff;">title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float: left;color: white">
                    <span style="color: white!important;" aria-hidden="true"><i style="color: white!important;" class="fa fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                body
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" style="float:left;background-color: #000;color: #fff;" data-dismiss="modal">تایید</button>
            </div>
        </div>
    </div>
</div>
<section class="section-breadcrumb overlay-color" style="background-image:url(@Url.Content("~/CustomerSide_desinerResource/assets/images/breadcrumb/1.jpg"))">
    <span class="bg-color bg-dark-60"></span>
    <div class="container pt-90 pb-90 vertical-wrap">
        <div class="vertical-inner text-center">
            <h1>تماس با ما<span>و ما می توانیم زندگی شما را تغییر دهیم</span></h1>
        </div>
        <div class="breadcrumb-box">
            <div class="row row-0">
                <div class="col-12 col-sm-12">
                    <ol class="breadcrumb text-light">
                        <li>
                            <a href="." class="breadcrumb-icon">
                                <i class="fa fa-home"></i>
                            </a>
                        </li>

                        <li class="active">تماس با ما</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====================================================================
                            End Section Breadcrumb
====================================================================-->
<!--====================================================================
                                Start Section Contact Us
====================================================================-->
<section class="section section-contact-us section-contact-us-1">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-8">
                <h3 class="mb-30">نیاز به کمک دارید؟ در تماس باشید.</h3>
                <form class="form form-simple">
                    <div class="row row-sm">
                        <div class="form-item col-12 col-sm-6">
                            <input id="name" type="text" placeholder="نام">
                        </div>
                        <div class="form-item col-12 col-sm-6">
                            <input id="email" type="text" placeholder="ایمیل">
                        </div>
                        <div class="form-item col-12 col-sm-12">
                            <textarea id="input-message" placeholder="پیام"></textarea>
                        </div>
                        <div class="col-12 col-sm-12">
                            <button onclick="return ContactUsMessage()" class="button button-md button-primary">ارسال پیام</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <div class="contact-us-info">
                    <div class="contact-us-info-inner">
                        <h4>
                            اینجا<br />
                            <span>ما هستیم</span>
                        </h4>
                        <p>
                            <i class="fa fa-map-marker"></i>
                            ایران، ارومیه، شاهین دژ
                        </p>
                        <p>
                            <i class="fa fa-phone"></i>
                            0933 899 !!!!
                            0990 !!! 9593
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====================================================================
                            End Section Contact Us
====================================================================-->
@section CS_Scripts {
    <script>
    function success(title, body) {
            $(".modal-title").text(title);
            $(".modal-body").text(body);
            setTimeout(function () {
                $("#modal").modal();
            },
                200);
        }
        function danger(title, body) {
            $(".modal-header").css({ "background-color": "#dc3545" });
            $(".modal-title").text(title);
            $(".modal-body").text(body);
            setTimeout(function () {
                $("#modal").modal();
            },
                200);
        }
        function ContactUsMessage() {

            var Name = $('#name').val();
            var Email = $('#email').val();
            var Subject = "";
            var Message = $('#input-message').val();

            if (Name == "" || Email == "" || Message == "") {
                alert("لطفا همه ی مقادیر ورودی را پر کنید");
            } else {

                PostJson1 = {
                    'Name': Name,
                    'Email': Email,
                    'Subject': Subject,
                    'Message': Message
                };

                $.ajax({
                    url: '/CustomerSide_Pages/ContactUsMessage',
                    type: "post",
                    data: JSON.stringify(PostJson1),
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        if (response == "Success") {
                            $('#name').val("");
                            $('#email').val("");
                            $('#input-message').val("");
                        }
                        success("ارسال پیام", "پیام شما باموفقیت برای ما ثبت گردید.");

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        danger("خطا رخ داده است", "متاسفانه خطایی در ثبت درخواست شما رخ داده است لطفا با ما بصورت تلفنی در میان بگذارید!")
                        return "";
                    }
                });

            }

            return false;
        }
    </script>

    }