:root {
    --primary: #2775FF;
    --primary-1: #69adff;
    --primary-2: #00c6ff;
    --primary-3: #0F5AE0;
    --secondary:  #7202bb;
    --secondary-1: #4f34c9;
    --secondary-2: #4F00BA;
    --secondary-3: #641a81;
}