
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedViewPages/Administrator/MasterView.cshtml";
}
<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
                <span class="m-subheader__daterange-label">
                    <h3 class="m-subheader__title" style="padding-left: 0!important;margin: 0 0 0 2px!important;">
                        پیشخوان
                        <i class="fa fa-chevron-left tshfontsize2" style="transform: translateY(3px);color: #aaaeb8;margin-right: 2px;"></i>
                        <span class="m-subheader__daterange-title tshfontsize2" style="margin-right: 2px;margin-left: 2px;">پروفایل مشتری</span>
                        <!--
                        <i class="fa fa-chevron-left" style="transform: translateY(3px);color: #aaaeb8;"></i>
                        <span class="m-subheader__daterange-title" style="margin-right: 2px;">نمایش همه ی پست ها</span>
                        -->
                    </h3>
                </span>
            </span>
        </div>
    </div>
</div>


<div class="m-content">
    <div class="row">
        <div class="col-lg-4">
            <div class="m-portlet m-portlet--full-height  ">
                <div class="m-portlet__body">
                    <div class="m-card-profile">
                        <div class="m-card-profile__title m--hide">
                            پروفایل شما
                        </div>
                        <div class="m-card-profile__pic">
                            <div class="m-card-profile__pic-wrapper">
                                <img src="/AdminDesignResource/app/media/img/users/user4.jpg" alt="">
                            </div>
                        </div>
                        <div class="m-section__content container-fluid tshtextcenter mb-3">
                            <button class="btn btn-brand btn-sm" data-target="#uploader" data-toggle="modal">انتخاب عکس</button>
                        </div>
                        <div class="m-card-profile__details">
                            <span class="m-card-profile__name">
                                نام شخص متن ساختگی نام خانوادگی شخص متن ساختگی
                            </span>
                            <span class="tshcurpoi m-card-profile__email m-link ts">شماره مشتری : 97776543</span>
                            <div></div>
                            <span class="tshcurpoi m-card-profile__email m-link ts">تاریخ ثبت نام : 1399/03/14</span>
                        </div>
                    </div>
                    <ul class="m-nav m-nav--hover-bg m-portlet-fit--sides mt-2 cus-prof-menu">
                        <li class="m-nav__item active-cust-profile personal-btn tshcurpoi">
                            <a class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-user"></i>
                                <span class="m-nav__link-text">اطلاعات شخصی</span>
                            </a>
                        </li>
                        <li class="m-nav__item address-btn tshcurpoi">
                            <a class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-list"></i>
                                <span class="m-nav__link-text">آدرس ها</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
                                    <i class="flaticon-share m--hide"></i>
                                    <cust_title>
                                        اطلاعات شخصی
                                    </cust_title>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="m_user_profile_tab_1">
                        <form class="m-form m-form--fit m-form--label-align-right" id="cusform">
                            <div class="m-portlet__body">
                                <div class="per-info">
                                    <div class="form-group m-form__group row">
                                        <label for="firstname_cus" class="col-2 col-form-label">نام</label>
                                        <div class="col-9">
                                            <input class="form-control m-input" id="firstname_cus" name="firstname_cus" type="text" value="نام شخص متن ساختگی">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label for="lastname_cus" class="col-2 col-form-label">نام خانوادگی</label>
                                        <div class="col-9">
                                            <input class="form-control m-input" id="lastname_cus" name="lastname_cus" type="text" value="نام خانوادگی شخص متن ساختگی">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label for="email_cus" class="col-2 col-form-label">ایمیل</label>
                                        <div class="col-9">
                                            <input class="form-control m-input" id="email_cus" name="email_cus" type="text" value="test@test.com">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label for="phone_cus" class="col-2 col-form-label">شماره تلفن</label>
                                        <div class="col-9">
                                            <input class="form-control m-input" id="phone_cus" name="phone_cus" type="number" value="09120000000">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label for="des_cus" class="col-2 col-form-label">توضیحات</label>
                                        <div class="col-9">
                                            <input class="form-control m-input" id="des_cus" name="des_cus" type="text" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="address-cust" style="display: none">
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-2 col-sm-12">استان</label>
                                        <div class="col-lg-9 col-md-8 col-sm-12">
                                            <select class="form-control m-bootstrap-select m_selectpicker" name="prov_cust" data-live-search="true">
                                                <option>تهران</option>
                                                <option>اصفهان</option>
                                                <option>مشهد</option>
                                                <option>مشهد</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-2 col-sm-12">شهر</label>
                                        <div class="col-lg-9 col-md-8 col-sm-12">
                                            <select class="form-control m-bootstrap-select m_selectpicker" name="city_cust" data-live-search="true">
                                                <option>تهران</option>
                                                <option>تورقوزآباد</option>
                                                <option>همون جایی که آهو ناز داره آی بله</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label for="add_cust" class="col-2 col-form-label">آدرس</label>
                                        <div class="col-9">
                                            <input class="form-control m-input" id="add_cust" name="add_cust" type="text" value="تجریش خیابان 3">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label for="pc_cust" class="col-2 col-form-label">کدپستی</label>
                                        <div class="col-9">
                                            <input class="form-control m-input" id="pc_cust" name="pc_cust" type="number" value="45000">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-2">
                                        </div>
                                        <div class="col-12 tshtextleft">
                                            <button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom">ذخیره</button>&nbsp;&nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
