@model  BamboPortal_V1._0._0._0.ModelViews.AdministratorProducts.ReturnInputsOfSubCategorykeyValuesModelView

@{
    ViewBag.Title = "ReturnInputsOfSubCategorykeyValues";
}


@foreach (var MainItem in Model.AllSubCategoryKeyValues)
{
    <div class="form-group m-form__group col-lg-12 col-xs-12" style="padding-top: 0;">

        <label for="PRDCTSCKV-@MainItem.SubCategoryID" class="col-12 col-form-label tshtextright">@MainItem.NameOfSubCategoryKey :</label>
        <div class="col-12">
            <select class="form-control m-bootstrap-select m_selectpicker SubcategoryKeyValueMultiSelect" name="PRDCTSCKV-@MainItem.SubCategoryID" id="PRDCTSCKV-@MainItem.SubCategoryID" title="انتخاب کنید..." required multiple>
                @foreach (var item in MainItem.SubCategoryAllKeyValues)
                {
                    if (item.Id == 0)
                    {
                        <option value=0 selected disabled hidden>@item.Value</option>
                    }
                    else
                    {
                        <option value=@item.Id>@item.Value</option>
                    }
                }
            </select>
        </div>
    </div>
}